/*
 * Crée l'effet "photo de vélo floue sur fond vert"
 */
.wp-block-group.is-style-potos-section-velo {
	& {
		background-color: var(--wp--preset--color--secondary);
		position: relative;
	}

	&>* {
		position: relative;
		z-index: 2;
	}

	&::after {
		content: ' ';
		display: block;
		background-image: url('./fond-velo-optimise.jpg');
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.40;
		filter: blur(5px);
		mix-blend-mode: multiply;
		z-index: 1;
	}
}


/*
 * Crée l'effet "photo de rouille sur fond orange"
 */
.wp-block-group.is-style-potos-section-rouille {
	& {
		background-color: var(--wp--preset--color--tertiary);
		position: relative;
	}

	&>* {
		position: relative;
		z-index: 3;
	}

	&::after {
		content: ' ';
		display: block;
		background-image: url('./fond-rouille-basse-qualite-tengyart-3YUpwqvPrfM-unsplash.png');
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.30;
		z-index: 1;
	}
}


.wp-block-group.is-style-potos-section-rouille,
.wp-block-group.is-style-potos-section-velo {

	&,
	&+.wp-block-group,
	&+footer {
		position: relative;
	}

	&::before {
		background-image: url('./long-coup-de-brosse_moitie-basse.svg');
		width: 100%;
		background-size: 120% 100%;

		height: 50px !important;
		margin-top: -5px;
		margin-bottom: -45px;
	}

	&+.wp-block-group::before,
	&+footer::before {
		background-image: url('./long-coup-de-brosse_moitie-haute.svg');
		width: 100%;
		background-size: 120% 100%;

		height: 50px !important;
		margin-top: -45px;
		margin-bottom: -5px;
	}

	&::before,
	&+.wp-block-group::before,
	&+footer::before {
		content: ' ';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		display: block;

		z-index: 3;
		background-color: transparent !important;
		background-position: 50%;
		color: transparent !important;
	}
}
