/*
 * Pour éviter un clash entre les classes définies pour le site et d'autres classes, toutes les classes sont préfixées par potos-*
 */


/*
 * Il s'agit du texte "Les poto'Cyclettes" sur la page d'accueil
 * Permet de décaler l'image pour qu'elle rentre bien dans la composition générale
 */
.potos-logo-homepage {
	position: relative;
	top: 0px;
	left: -80px;
	margin-bottom: -60px;
	max-width: 600px;

	@media screen and (max-width: 1312px) {
		left: -40px;
		margin-bottom: -70px;
	}

	@media screen and (max-width: 1226px) {
		left: -30px;
		margin-bottom: -70px;
	}

	@media screen and (max-width: 781px) {
		max-width: 500px;
		margin-bottom: -50px;
	}

	@media screen and (max-width: 400px) {
		margin-bottom: 0;
		left: 0;
	}
}


/*
 * Permet de corriger l'apparence des légendes des images sur fond foncé
 */
.wp-block-image figcaption {
	/* permet de récupérer la couleur actuellement utilisée pour les textes environnant */
	color: inherit;
	/* permet de rendre ce texte moins proéminent en réduisant son opacité */
	opacity: 0.75;
}

.wp-block-media-text__media>img {
	aspect-ratio: 4/3;
	object-fit: cover;
}

/**
 * Ajout d'un effet grain texturé
 */
.wp-site-blocks {
	position: relative;
}

@supports (mix-blend-mode: color-dodge) {
	.wp-site-blocks::after {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		z-index: 10;

		mix-blend-mode: color-dodge;
		// grayscale() est aussi une fonction dans sass, en plus d'être un filtre. Cette syntaxe permet de ne pas passer par sass
		// https://sass-lang.com/documentation/interpolation/
		filter: contrast(250%) brightness(300%) #{"grayscale()"};
		opacity: 0.5;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("data:image/svg+xml,%3Csvg viewBox=%270 0 1024 1024%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cfilter id=%27noiseFilter%27%3E%3CfeTurbulence type=%27fractalNoise%27 baseFrequency=%270.65%27 numOctaves=%273%27 stitchTiles=%27stitch%27/%3E%3C/filter%3E%3Crect width=%27100%25%27 height=%27100%25%27 filter=%27url%28%23noiseFilter%29%27/%3E%3C/svg%3E") repeat;

		@media screen and (max-width: 1024px) {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("data:image/svg+xml,%3Csvg viewBox=%270 0 512 512%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cfilter id=%27noiseFilter%27%3E%3CfeTurbulence type=%27fractalNoise%27 baseFrequency=%270.65%27 numOctaves=%273%27 stitchTiles=%27stitch%27/%3E%3C/filter%3E%3Crect width=%27100%25%27 height=%27100%25%27 filter=%27url%28%23noiseFilter%29%27/%3E%3C/svg%3E") repeat;
		}

		@media screen and (max-width: 512px) {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("data:image/svg+xml,%3Csvg viewBox=%270 0 256 256%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cfilter id=%27noiseFilter%27%3E%3CfeTurbulence type=%27fractalNoise%27 baseFrequency=%270.65%27 numOctaves=%273%27 stitchTiles=%27stitch%27/%3E%3C/filter%3E%3Crect width=%27100%25%27 height=%27100%25%27 filter=%27url%28%23noiseFilter%29%27/%3E%3C/svg%3E") repeat;
		}
	}
}
