/*
 * Pour éviter un clash entre les classes définies pour le site et d'autres classes, toutes les classes sont préfixées par potos-*
 */


/*
 * Il s'agit du texte "Les poto'Cyclettes" sur la page d'accueil
 * Permet de décaler l'image pour qu'elle rentre bien dans la composition générale
 */
.potos-logo-homepage {
	position: relative;
	top: 0px;
	left: -80px;
	margin-bottom: -60px;
	max-width: 600px;

	@media screen and (max-width: 1312px) {
		left: -40px;
		margin-bottom: -70px;
	}

	@media screen and (max-width: 1226px) {
		left: -30px;
		margin-bottom: -70px;
	}

	@media screen and (max-width: 781px) {
		max-width: 500px;
		margin-bottom: -50px;
	}

	@media screen and (max-width: 400px) {
		margin-bottom: 0;
		left: 0;
	}
}


/*
 * Permet de corriger l'apparence des légendes des images sur fond foncé
 */
.wp-block-image figcaption {
	/* permet de récupérer la couleur actuellement utilisée pour les textes environnant */
	color: inherit;
	/* permet de rendre ce texte moins proéminent en réduisant son opacité */
	opacity: 0.75;
}

.wp-block-media-text__media>img {
	aspect-ratio: 4/3;
	object-fit: cover;
}

/**
 * Permet de corriger l'apparence des legendes des images dans la galerie d'images
 * Améliore le contraste
 */
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
	background: rgba(0, 0, 0, 0.9);
	padding: var(--wp--preset--spacing--xx-small);
	border-radius: var(--wp--custom--border-radius--medium);
}

/**
 * Ajout d'un effet grain texturé
 */
.wp-site-blocks {
	position: relative;
}

@supports (mix-blend-mode: screen) {
	.wp-site-blocks::after {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		z-index: 10;

		mix-blend-mode: screen;
		// grayscale() est aussi une fonction dans sass, en plus d'être un filtre. Cette syntaxe permet de ne pas passer par sass
		// https://sass-lang.com/documentation/interpolation/
		filter: contrast(250%) brightness(300%) #{"grayscale()"};
		opacity: 0.5;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("data:image/svg+xml,%3Csvg viewBox=%270 0 1024 1024%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cfilter id=%27noiseFilter%27%3E%3CfeTurbulence type=%27fractalNoise%27 baseFrequency=%270.65%27 numOctaves=%273%27 stitchTiles=%27stitch%27/%3E%3C/filter%3E%3Crect width=%27100%25%27 height=%27100%25%27 filter=%27url%28%23noiseFilter%29%27/%3E%3C/svg%3E") repeat;

		@media screen and (max-width: 1024px) {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("data:image/svg+xml,%3Csvg viewBox=%270 0 768 768%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cfilter id=%27noiseFilter%27%3E%3CfeTurbulence type=%27fractalNoise%27 baseFrequency=%270.65%27 numOctaves=%273%27 stitchTiles=%27stitch%27/%3E%3C/filter%3E%3Crect width=%27100%25%27 height=%27100%25%27 filter=%27url%28%23noiseFilter%29%27/%3E%3C/svg%3E") repeat;
		}

		@media screen and (max-width: 512px) {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("data:image/svg+xml,%3Csvg viewBox=%270 0 384 384%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cfilter id=%27noiseFilter%27%3E%3CfeTurbulence type=%27fractalNoise%27 baseFrequency=%270.65%27 numOctaves=%273%27 stitchTiles=%27stitch%27/%3E%3C/filter%3E%3Crect width=%27100%25%27 height=%27100%25%27 filter=%27url%28%23noiseFilter%29%27/%3E%3C/svg%3E") repeat;
		}
	}
}

/**
 * Rend la navighation flottante
 *
 * Une classe .is-pinned est ajoutée dynamiquement via https://davidwalsh.name/detect-sticky (implémentation dans blocks/global/index.js)
 */
header.wp-block-template-part:has(.wp-block-navigation.is-responsive) {
	& {
		position: sticky;
		top: -1px;
		z-index: 10;
	}

	&.is-pinned {
		pointer-events: none;
	}

	.site-logo-img {
		transition: opacity 0.3s ease-in-out;
	}

	&.is-pinned .site-logo-img {
		opacity: 0;
	}

	.wp-block-navigation.is-responsive {
		background-color: var(--wp--preset--color--background);
		pointer-events: auto;

		padding-block: var(--wp--preset--spacing--xx-small);
		margin-block: calc(-1 * var(--wp--preset--spacing--xx-small));

		padding-inline: var(--wp--preset--spacing--x-small);
		margin-inline: calc(-1 * var(--wp--preset--spacing--x-small));

		border-radius: var(--wp--custom--border-radius--medium);
	}

	@media screen and (max-width: 782px) {
		.wp-block-navigation.is-responsive {
			padding-block: var(--wp--preset--spacing--x-small);
			margin-block: calc(-1 * var(--wp--preset--spacing--x-small));
			transition: transform 0.3s ease-in-out;
		}

		&>* {
			transition: transform 0.3s ease-in-out;
		}

		&.is-pinned>* {
			transform: translateY(-50%);
		}

		&.is-pinned .wp-block-navigation.is-responsive {
			transform: translateY(calc(50% + var(--wp--preset--spacing--xx-small)));
		}

		// La propriété transform intéragit avec la position fixed du menu ainsi ouvert.
		// Il est donc important de la désactiver lorsque celui-ci est ouvert
		&.is-pinned *:has(.wp-block-navigation__responsive-container.is-menu-open) {
			transform: none;
			transition: none;
		}
	}
}
