/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */




/*
 * Code assez compliqué pour avoir un effet de style avec le logo des potos entouré de 2 colonnes de texte
 * Quelques essais faits par moi ici : https://codepen.io/Fuunnx/pen/poyqqXw
 */
.wp-block-columns.potos-texte-autour-du-logo {
	& {
		display: flex;
		width: 100%;
		max-width: var(--wp--style--global--wide-size);
		margin: auto;
		gap: 2em var(--wp--preset--spacing--xx-large);
		position: relative;

		--gap: 20px;
		--circle-size: 400px;
		--circle-top: calc(var(--circle-size) / 4);

		@media screen and (max-width: 960px) {
			--gap: 10px;
			--circle-size: 300px;
		}
	}



	/* 2e colonne = logo */
	&>.potos-image {
		order: -1;
		position: absolute;
		z-index: 0;
		width: var(--circle-size);
		height: var(--circle-size);
		border-radius: 100%;
		top: var(--circle-top);
		left: 50%;
		transform: translateX(-50%);

		@media screen and (max-width: 781px) {
			position: static;
			transform: none;
			width: auto;
			height: auto;
			display: flex;
			justify-content: center;

			&>figure {
				max-width: var(--circle-size);
			}
		}
	}


	/* 1ere et 3e colonnes = textes */
	&>.potos-column1,
	&>.potos-column2 {
		position: relative;
		z-index: 1;
	}

	/* c'est ici que la magie se passe */
	&>.potos-column1::before,
	&>.potos-column2::before {
		content: "";
		display: block;
		--top: calc(var(--circle-top) * 2);
		height: calc(var(--circle-size) + var(--top));
		background: lightblue;
		width: calc(var(--circle-size) / 2 + var(--gap));
		position: relative;
		opacity: 0;
		clip-path: var(--shape);
		shape-outside: var(--shape);

		@media screen and (max-width: 781px) {
			display: none;
		}
	}

	&>.potos-column1 {
		text-align: right;

		@media screen and (max-width: 781px) {
			text-align: left;
		}
	}

	&>.potos-column1::before {
		--shape: circle(50% at calc(100% + var(--gap) / 2) center);
		float: right;
	}

	&>.potos-column2 {
		text-align: left;
	}

	&>.potos-column2::before {
		float: left;
		--shape: circle(50% at calc(0% - var(--gap) / 2) center);
	}

	/* Mettre ici les styles uniquement dédiés à l'interface d'administration */
	.block-editor-iframe__body & {
		&>.potos-image {
			z-index: 2 !important;
			background: lightgrey;

			&>* {
				height: 100%;
			}

			&>.wp-block-image {
				border-radius: 50%;

				/* permet de centrer le contenu verticalement */
				display: grid;
				align-items: center;
			}
		}
	}
}

.potos-texte-autour-du-logo {
	.wp-block-columns {
		display: flex;
		width: 100%;
		max-width: var(--wp--style--global--wide-size);
		margin: auto;
		gap: 2em var(--wp--preset--spacing--xx-large);
		position: relative;

		--gap: 20px;
		--circle-size: 400px;
		--circle-top: calc(var(--circle-size) / 4);

		@media screen and (max-width: 960px) {
			--gap: 10px;
			--circle-size: 300px;
		}
	}



	/* 2e colonne = logo */
	.wp-block-columns>.potos-image {
		order: -1;
		position: absolute;
		z-index: 0;
		width: var(--circle-size);
		height: var(--circle-size);
		border-radius: 100%;
		top: var(--circle-top);
		left: 50%;
		transform: translateX(-50%);

		@media screen and (max-width: 781px) {
			position: static;
			transform: none;
			width: auto;
			height: auto;
			display: flex;
			justify-content: center;

			&>figure {
				max-width: var(--circle-size);
			}
		}
	}


	/* 1ere et 3e colonnes = textes */
	.wp-block-columns>.potos-column1,
	.wp-block-columns>.potos-column2 {
		position: relative;
		z-index: 1;
	}

	/* c'est ici que la magie se passe */
	.wp-block-columns>.potos-column1::before,
	.wp-block-columns>.potos-column2::before {
		content: "";
		display: block;
		--top: calc(var(--circle-top) * 2);
		height: calc(var(--circle-size) + var(--top));
		background: lightblue;
		width: calc(var(--circle-size) / 2 + var(--gap));
		position: relative;
		opacity: 0;
		clip-path: var(--shape);
		shape-outside: var(--shape);

		@media screen and (max-width: 781px) {
			display: none;
		}
	}

	.wp-block-columns>.potos-column1 {
		text-align: right;

		@media screen and (max-width: 781px) {
			text-align: left;
		}
	}

	.wp-block-columns>.potos-column1::before {
		--shape: circle(50% at calc(100% + var(--gap) / 2) center);
		float: right;
	}

	.wp-block-columns>.potos-column2 {
		text-align: left;
	}

	.wp-block-columns>.potos-column2::before {
		float: left;
		--shape: circle(50% at calc(0% - var(--gap) / 2) center);
	}

	/* Mettre ici les styles uniquement dédiés à l'interface d'administration */
	.block-editor-iframe__body & {
		.wp-block-columns>.potos-image {
			z-index: 2 !important;
			background: lightgrey;

			&>* {
				height: 100%;
			}

			&>.wp-block-image {
				border-radius: 50%;

				/* permet de centrer le contenu verticalement */
				display: grid;
				align-items: center;
			}
		}
	}
}
